.bg-img1 {
  position: relative;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(hero.jpg);
}
/* .bg-img2 {
  position: relative;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(hero.jpg);
} */
/* .bg-img3 {
  position: relative;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(hero.jpg);
} */
.lead {
  margin-top: 80px;
}
